<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <div class="mb-3">
                <form asp-controller="Book" asp-action="FindBooksTitle" method="get">
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-book"></i> Title</button>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <div class="mb-3">
                <form asp-controller="Book" asp-action="FindBooksAuthor" method="get">
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-person"></i> Author</button>
                </form>
            </div>
        </li>
        <li class="nav-item">
            <div class="mb-3">
                <form asp-controller="Book" asp-action="FindBooksISBN" method="get">
                    <button type="submit" class="btn btn-outline-success"><i class="bi bi-upc"></i> ISBN</button>
                </form>
            </div>
        </li>
    </ul>
</div>