@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookOrganiser.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var textInfo = new CultureInfo("en-GB", false).TextInfo;
}

<div class="account-container">
    <div class="account-box">
        <h1 class="text-danger">Error: @textInfo.ToTitleCase(Model.ErrorMessage!)</h1>
        @if (Model.ShowInfoText)
        {
            <p>
                Please try again in a few minutes, or contact us if this error persists.
            </p>
        }
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <form asp-controller="Home" asp-action="Index" method="get">
            <button type="submit" class="btn btn-success">Click Here to Return Home</button>
        </form>
    </div>
</div>