@using BookOrganiser.ViewModels.AISummaryViewModels
@model SummaryViewModel

@{
    ViewData["Title"] = "Details";
    var summary = Model.Summary;
    var isGenerating = !summary.IsGenerated &&
                       (summary.Summary == string.Empty ||
                        summary.KeyQuotes == string.Empty ||
                        summary.KeyThemes == string.Empty);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar-container">
            <partial name="_BookSideNavPartial" model="@(BookId: summary.Book.Id, SummaryId: summary.Id)" />
        </div>
        <div class="col-md-9 col-lg-10 main-content">
            <div>
                <h1>AI Summary</h1>
                <hr/>
                @if (!Model.AcceptedAIFeatures)
                {
                    <div class="alert alert-warning">
                        To enable AI features, you must read the disclaimer and opt-in first.
                    </div>
                }
                else if (isGenerating)
                {
                    <div class="alert alert-info">
                        <i class="bi bi-arrow-counterclockwise"></i> Your AI summary is being generated. This process might take a few minutes.
                        Please check back later or refresh this page.
                    </div>
                }
                else
                {
                    <dl class="row">
                        <dt>Summary</dt>
                        <dd>@Html.Raw(summary.Summary)</dd>
                        <dt>Key Quotes</dt>
                        <dd>@Html.Raw(summary.KeyQuotes)</dd>
                        <dt>Key Themes</dt>
                        <dd>@Html.Raw(summary.KeyThemes)</dd>
                    </dl>
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>
