@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookOrganiser.Models.AISummary

@{
    ViewData["Title"] = "Details";
    var textInfo = new CultureInfo("en-GB", false).TextInfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar-container">
            <partial>
                @Html.Partial("_BookSideNavPartial", (BookId: Model.Book.Id, SummaryId: Model.Id))
            </partial>
        </div>
        <div class="col-md-9 col-lg-10 main-content">
            <div>
                <h1>AI Summary</h1>
                <hr/>
                @if ((bool)ViewBag.AIEnabled)
                {
                    <p>foo</p>
                }
                else
                {
                    <div class="alert alert-warning">
                        To enable AI features, you must read the disclaimer and opt-in first.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>
