@model BookOrganiser.Models.AISummary

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar-container">
            <partial name="_BookSideNavPartial" model="@(BookId: Model.Book.Id, SummaryId: Model.Id)" />
        </div>
        <div class="col-md-9 col-lg-10 main-content">
            <div>
                <h1>AI Summary</h1>
                <hr/>
                @if ((bool)ViewBag.AIEnabled)
                {
                    <dl class="row">
                        <dt>Summary</dt>
                        <dd>@Html.Raw(Model.Summary)</dd>
                        <dt>Key Quotes</dt>
                        <dd>@Html.Raw(Model.KeyQuotes)</dd>
                        <dt>Key Themes</dt>
                        <dd>@Html.Raw(Model.KeyThemes)</dd>
                    </dl>
                }
                else
                {
                    <div class="alert alert-warning">
                        To enable AI features, you must read the disclaimer and opt-in first.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>
</html>
