@using BookOrganiser.ViewModels.AccountViewModels
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<!DOCTYPE html>

<html>
<head>
    <title>Change Password</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-lg-2 sidebar-container">
            <partial name="_AccountSideNavPartial" />
        </div>
        <div class="col-md-9 col-lg-10 main-content">
            <h1>Change Password</h1>
            <hr/>
            <div class="centered-container">
                <div class="custom-box">
                    <h5>Password Requirements</h5>
                    <ul>
                        <li>Password must be at least 8 characters long.</li>
                        <li>Password requires at least one uppercase character.</li>
                        <li>Password requires at least one lowercase character.</li>
                        <li>Password requires at least one digit.</li>
                    </ul>
                    <form asp-controller="Account" asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="form-label" for="Email">Email</label>
                            <input class="form-control" id="Email" value="@Model.Email" disabled readonly/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CurrentPassword" class="form-label"></label>
                            <input asp-for="CurrentPassword" class="form-control" required/>
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label"></label>
                            <input asp-for="NewPassword" class="form-control" required/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmNewPassword" class="form-label"></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" required/>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success w-100 p-2"><i class="bi bi-check-lg"></i> Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>