@using BookOrganiser.ViewModels.Account
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "My Account";
}

<!DOCTYPE html>

<html>
<head>
    <title>My Account</title>
</head>
<body>
<div>
    <h1>My Account</h1>
    <hr />
    <div class="centered-container">
        <div class="custom-box">
            <div class="alert alert-success">
                Your password was successfully changed!
            </div>
            <form asp-controller="Home" asp-action="Index" method="get">
                <button type="submit" class="btn btn-success"><i class="bi bi-house-door"></i> Click Here to Return Home
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>