@{
    ViewData["Title"] = "Manage AI Features";
}

<!DOCTYPE html>

<html>
<head>
    <title>Manage AI Features</title>
</head>
<body>
<div>
    <h1>Manage AI Features</h1>
    <hr />
    <div class="centered-container">
        <div class="custom-box">
            <div class="alert alert-success">
                Your choice has been saved!
            </div>
            <form asp-controller="Home" asp-action="Index" method="get">
                <button type="submit" class="btn btn-success"><i class="bi bi-house-door"></i> Click Here to Return Home</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>